article {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background: rgba(#eee, 0.1);
  overflow: hidden;

  header {
    h2 {
      padding: 2px 25px 10px 14px;
      background-color: rgba(#AAA, 0.9);
      margin: 0;
      font-size: 3em;
    }
    h4 {
      padding: 5px 10px 7px 10px;
      border-left: 23px solid #0074C7;
      margin: 0;
      background-color: rgba(#AAA, 0.45);
    }
  }
  section {
    text-align: center;
    .headImageContainer {
      background: rgba(#AAA, 0.25);
      img {
        width: 50%;
      }
    }
  }
}
p {
  padding: 0 10px;
}
