<article>
  <header>
    <h2>{{articleDataObj.title}}</h2>
    <h4>{{articleDataObj.excerpt}}</h4>
  </header>
  <section class="col-lg-12">
    <img src="{{articleDataObj.mainImageURL}}" alt="{{articleDataObj.title}}" title="{{articleDataObj.title}}" />

    <div *ngFor="let thing of articleDataObj.pageData">
      <div *ngFor="let objArrayElement of thing">
        <div *ngIf="objArrayElement.Type === 'TextBlock'">
          <app-article-text [textContent]="objArrayElement"></app-article-text>
        </div>
        <div *ngIf="objArrayElement.Type === 'Image'">
          <app-article-image [imageObj]="objArrayElement"></app-article-image>
        </div>
        <div *ngIf="objArrayElement.Type === 'Ad Placeholder'">
          <app-article-ad [adObject]="objArrayElement"></app-article-ad>
        </div>
      </div>
    </div>
    
  </section>
  <aside class="col-md-4" style="display: none; background: lightgrey">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ultrices placerat nulla sit amet ullamcorper. Maecenas sit amet libero id arcu sagittis tincidunt at in ante. Etiam in sagittis sem. Donec nibh arcu, imperdiet quis mi ut, convallis mattis ligula. Nam nec commodo arcu. Proin at libero non lectus dictum feugiat. Praesent at tincidunt quam. Nullam vel nulla sed dui ornare lacinia at nec enim.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ultrices placerat nulla sit amet ullamcorper. Maecenas sit amet libero id arcu sagittis tincidunt at in ante. Etiam in sagittis sem. Donec nibh arcu, imperdiet quis mi ut, convallis mattis ligula. Nam nec commodo arcu. Proin at libero non lectus dictum feugiat. Praesent at tincidunt quam. Nullam vel nulla sed dui ornare lacinia at nec enim.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ultrices placerat nulla sit amet ullamcorper. Maecenas sit amet libero id arcu sagittis tincidunt at in ante. Etiam in sagittis sem. Donec nibh arcu, imperdiet quis mi ut, convallis mattis ligula. Nam nec commodo arcu. Proin at libero non lectus dictum feugiat. Praesent at tincidunt quam. Nullam vel nulla sed dui ornare lacinia at nec enim.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ultrices placerat nulla sit amet ullamcorper. Maecenas sit amet libero id arcu sagittis tincidunt at in ante. Etiam in sagittis sem. Donec nibh arcu, imperdiet quis mi ut, convallis mattis ligula. Nam nec commodo arcu. Proin at libero non lectus dictum feugiat. Praesent at tincidunt quam. Nullam vel nulla sed dui ornare lacinia at nec enim.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ultrices placerat nulla sit amet ullamcorper. Maecenas sit amet libero id arcu sagittis tincidunt at in ante. Etiam in sagittis sem. Donec nibh arcu, imperdiet quis mi ut, convallis mattis ligula. Nam nec commodo arcu. Proin at libero non lectus dictum feugiat. Praesent at tincidunt quam. Nullam vel nulla sed dui ornare lacinia at nec enim.</p>
  </aside>
</article>
