a {
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.navbar-brand {
  font-weight: bold;
}
.navbar-toggler {
  margin: 12px 0 0;
  border: none;
}
.navbar-toggler-icon {
  cursor: pointer;
}
