<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary sticky-top" role="navigation">
  <div class="navbar-toggler-right ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <button title="Click here to go to the next article" class="nextButton_small">Next <span>&rang;</span></button>
  </div>
  <div class="navbar-brand">
    <img src="/assets/images/logo.png" alt="Diply" title="Diply" width="90" />
  </div>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="/story" routerLinkActive="active" class="nav-link">Story</a>
      </li>
      <li class="nav-item">
        <a routerLink="/video" routerLinkActive="active" class="nav-link">Video</a>
      </li>
    </ul>
  </div>
</nav>
