.navbar-brand {
  font-weight: bold;
}
a {
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.navbar-toggler-icon {
  cursor: pointer;
}
